<!DOCTYPE html>
<html lang="it">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="This is the Toghether Demo page">
    <meta name="author" content="Paolo Antonio Rossi">

    <title>Together</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/landing-page.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
	
	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
</head>	
<body ng-app="app">
	
	<!-- Navigation -->
	<div class="container">
		<div class="row">
    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand topnav" href="../#">Together</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="../#about">About</a>
                    </li>
                    <li>
                        <a href="../#services">Servizi</a>
                    </li>
                    <li>
                        <a href="../#contact">Contattaci</a>
                    </li>
					<li>
                        <a href="https://together-blog.herokuapp.com/" target="_blank">Blog</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
		</div>
	</div>
	
	<div class="content-demo">
        <div class="container">

            <div class="row">
                <div class="col-lg-6">
			<div ng-controller="PostsCtrl" class="container">
				<form role="form">
					<div class="form-group">
						<div class="image-text-demo">Dicci cosa ti piacerebbe fare ora.</div>
						<div class="input-group">
							<input ng-model="postBody" class="form-control" />
							<input ng-model="postPlace" class="form-control" />
							<input ng-model="postDateActivity" class="form-control" />
							<span class="input-group-btn">
								<button ng-click="addPost()" class="btn btn-default">Aggiungi desiderio</button>
							</span>
						</div>
					</div>		
				</form>
				
				<ul class="list-group">
					<li ng-repeat="post in posts | orderBy: '-date'" class="list-group-item">
						{{ post }}
						<!-- strong>{{post.username}}</strong>
						<span>{{post.date_activity}} {{post.place}} </span-->
					</li>
				</ul>
			</div>
		</div>
			</div>
			</div>
	</div>
	
	    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-inline">
                        <li>
                            <a href="../#">Home</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="../#about">About</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="../#services">Servizi</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="../#contact">Contattaci</a>
                        </li>
						<li class="footer-menu-divider">&sdot;</li>
						<li>
							<a href="https://together-blog.herokuapp.com/" target="_blank">Blog</a>
						</li>
                    </ul>
					<p class="copyright text-muted small">
					Project started by <a href="http://twitter.com/luduvigo" target="_blank">luduvigo</a><br>
					Made with ♥ on <a href="http://en.wikipedia.org/wiki/Earth" target="_blank">Planet Earth</a>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>
	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular.js"></script>
	<script src="/app.js"></script>
</body>
</html>