<!DOCTYPE html>
<html lang="it">

<body ng-app="app">
	
	<div class="content-demo">
        <div class="container">

            <div class="row">
                <div class="col-lg-6">
			<div ng-controller="EventsCtrl" class="container">
				Events
				<ul class="list-group">
					<li ng-repeat="event in events | orderBy: '-date'" class="list-group-item">
						{{ event }}
					</li>
				</ul>
			</div>
		</div>
			</div>
			</div>
	</div>
	

    <!-- jQuery -->
    <script src="js/jquery.js"></script>
	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular.js"></script>
	<script src="/app.js"></script>
</body>
</html>
